{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock styles %}

{% block content %}

<div id="wiki-tab-0-0">
    <div class="content-panel standalone">
    <p><span><strong>The El-Hajj process, shrouded in centuries of tradition, holds within its sanctity the potential for unseen dangers.</strong></span></p>
    <p><span>As pilgrims embark on their sacred journey, the shadows of anomalies loom, threatening to disrupt the harmony of their pilgrimage.</span></p>
    <p><span>Our vigilance stands as a barrier between the faithful and the unknown. Through the lens of our anomaly detection model, we decipher the hidden truths within each image, identifying anomalies that evade ordinary sight.</span></p>
    <p><span ><strong>With each image classified, we secure the El-Hajj process, containing anomalies before they manifest into perilous threats.</strong></span></p>
    <p><span>In secrecy, we stand as guardians, shielding the pilgrims from harm, ensuring their journey remains sacred and untainted.</span></p>
    <span>As the silent sentinels of this clandestine mission, we vow to <strong>protect</strong> the sanctity of the El-Hajj process, for the safety and tranquility of all who embark upon it.<br>
    <img src="https://scp-wiki.wdfiles.com/local--files/about-the-scp-foundation/scp-logo-signature.png" alt="scp-logo-signature.png" class="image"><br>
    <strong>We secure. We contain. We protect.</strong></span>
    <p><span><strong>— Our Team</strong></span></p>
    </div>
</div>


{% endblock content %}
