{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error1.css') }}">
{% endblock styles %}

{% block content %}

    {% if code and message %}
    <h1><span class="code">{{ code }}</span> <span class="message">{{ message }}</span></h1>
    {% endif %}

    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    <p>Please check the URL or go back to the <a href="/">homepage</a>.</p>

{% endblock content %}
