{% extends "layout.html" %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/unauthorized.css') }}"
/>

{% endblock styles %} {% block content %}

    <div class="row w-100 flex-row-reverse">
        <div class="col-md-8">
            <div class="box alertbar">
                <p class="outside">WARNING: THE FOUNDATION DATABASE IS</p>
                <div class="classified">
                <p>
                    <a href="https://scp-wiki.wikidot.com/about-the-scp-foundation"
                    >CLASSIFIED</a
                    >
                </p>
                </div>
                <div style="clear: both; height: 0px; font-size: 1px"></div>
                <p class="outside">UNAUTHORIZED PERSONNEL WILL BE TRACKED, LOCATED, AND DETAINED</p>
            </div>
        </div>
    </div>

{% endblock content %}
