#main-content {
  justify-content: center;
}

.info-icon-container {
    position: relative;
    display: inline-block;
}

.info-icon-container:hover .info-tooltip {
    display: block;
}

.info-icon-container .bi-info-circle-fill {
    color: #3498db;
    cursor: pointer;
}

.info-tooltip::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #208ae0 transparent transparent transparent; 
}

.info-tooltip {
    display: none;
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #208ae086;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #208ae05e;
    z-index: 1000;
    text-align: center;
    width: 300px;
}

span.spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

