@font-face {
    font-family: 'Sans Normalcy';
    src: url("/static/fonts/Normalcy-v0.1.7.otf") format("opentype");
}
/* variables */
:root {
    --header-height: 160px;
    --footer-height: 60px;
    --content-min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
    --hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--main-color: hsl(var(--hue),90%,5%);
	--main-transition: 0.3s;
    --box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);

}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: Inter,'Helvetica Neue',sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background: url('https://scpwiki.github.io/sigma/images/body_bg.svg') top left repeat-x;
}

.main-title{
    margin: 0 auto 80px;
    border: 3px solid #000;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-title::before,
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-title::after{
    right: -30px;
}
.main-title::before{
    left: -30px;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}
.main-title:hover{
    color: #fff;
    border: 2px solid #fff;
    transition-delay: 0.4s;
}

/* Header */

#header {
    font-size: .95em;
    color: #333;
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04';
    width: 90%;
    max-width: 64rem;
    margin: 0 auto;
    height: var(--header-height);
    position: relative;
    z-index: 10;
    background: url('https://scpwiki.github.io/sigma/images/header-logo.svg') 10px 40px no-repeat;
    background-size: 100px;
    background-position: 10px 64%;
}

#header h1 {
    font-feature-settings: 'case','ss01','ss04';
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
    font-size: 120%;
    color: #901;
    font-weight: 700;
    margin: 0;
    margin-left: 120px;
    padding: 0;
    float: left;
    max-height: 95px;
}

#header h1 a {
    font-feature-settings: 'case','ss01','ss04';
    font-weight: 700;
    display: block;
    margin: 0;
    padding: 80px 0 25px;
    line-height: 0;
    max-height: 0;
    color: #eee;
    background: 0 0;
    font-family: 'Sans Normalcy','Nanum Gothic',Arial,sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 3px 3px 5px #000;
    letter-spacing: .9px;
}

#header h1 a span {
    font-feature-settings: 'case','ss01','ss04';
    font-weight: 700;
    line-height: 0;
    color: #eee;
    font-family: 'Sans Normalcy','Nanum Gothic',Arial,sans-serif;
    font-size: 1.5em;
    text-shadow: 3px 3px 5px #000;
    letter-spacing: .9px;
}

#header h2 {
    color: #333;
    font-feature-settings: 'case','ss01','ss04';
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    margin-left: 120px;
    padding: 0;
    clear: left;
    float: left;
    font-size: 1em;
    max-height: 38px;
}
#header h2 span {
    font-feature-settings: 'case','ss01','ss04';
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
    letter-spacing: 1px;
    font-size: 1.05em;
    display: block;
    margin: 0;
    padding: 19px 0;
    line-height: 0;
    max-height: 0;
    font-weight: 700;
    color: #f0f0c0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

#header #login-status {
    position: absolute;
    right: 10px;
    top: 10px;
    overflow: visible;
    color: #aaa;
    font-size: .9em;
    z-index: 30;
}

#header #login-status .auth-link {
    font-size: .9em;
    text-decoration: none;
    background: 0 0;
    color: #ddd;
}

#header #login-status .auth-link:hover {
    color: #fff;
}

#header #login-status span {
    color: #aaa;
    font-size: .9em;
}

#header #top-bar {
    right: 1em;
    bottom: 0px;
    max-width: 64rem;
    position: absolute;
    top: 140px;
    height: 21px;
    margin: 0 auto;
    z-index: 20;
}

#header #top-bar ul {
    list-style: none;
    float: right;
}

#header #top-bar ul li {
    float: left;
}

#header #top-bar ul li a {
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04';
    font-size: .9em;
    color: #fff;
    text-align: center;
    border-left: solid 1px rgba(64,64,64,.1);
    border-right: solid 1px rgba(64,64,64,.1);
    text-decoration: none;
    padding: 0 min(.75vw,1em);
    line-height: 21px;
    font-weight: 700;
}

/* /End Loader */

/* Content */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: break-word;
    min-height: var(--content-min-height);
}

#main-content #side-bar {
    font-size: .95em;
    color: #333;
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04';
    margin: 0 0 1em 0;
    clear: none;
    float: none;
    position: absolute;
    top: calc(var(--header-height) + 20px);
    left: 10%;
    width: 13.75rem;
    padding: 0;
    border: none;
    display: block;
    overscroll-behavior: none;
}

#main-content #side-bar .side-block {    
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04';
    font-size: .95em;
    color: #333;
    border: 1px solid #600;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(102,0,0,.5);
}

#main-content #side-bar .side-block.media {
    background: #e5e5ff;
    padding: 10px 0;
}

#main-content #side-bar .side-block.resources {
    background: #e7f7e9;
    padding: 10px;
}

#main-content #side-bar .side-block.resources .heading {
    color: #600;
    border-bottom: solid 1px #600;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: .75em;
    font-weight: 700;
    margin-top: 0;
}

#main-content #side-bar .side-block.resources .heading p {
    color: #600;
    font-size: .75em;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

#main-content #side-bar .side-block.resources .menu-item {
    font-size: .95em;
    color: #333;
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04';
    margin: 2px 0;
}

#main-content #side-bar .side-block.resources .menu-item a {
    font-size: .95em;
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04';
    text-decoration: none;
    background: 0 0;
    color: #b01;
    font-weight: 700;
}

#main-content #side-bar .side-block.resources .menu-item a:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    overflow: hidden;
    clear: both;
    font-size: .77em;
    background: #444;
    color: #bbb;
    padding: 3px 10px;
    height: var(--footer-height);
}

#footer .options {
    padding: 1px 0;
    float: right;
    width: 50%;
    font-size: 1em;
    text-align: right;
}

#footer a {
    font-size: 1em;
    text-align: right;
    text-decoration: none;
    color: #fff;
}

#footer a:hover {
    color: #f0f0c0;
    text-decoration: underline;
}


/*  */
